<section class="presentation">

    <h1>Présentation</h1>

    <p>
        Where can I get some?
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
        or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, 
        you need to be sure there isn't anything embarrassing hidden in the middle of text. 
        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. 
        It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, 
        to generate Lorem Ipsum which looks reasonable. 
        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>

</section>

<section class="parcours">

    <h1>Mon parcours</h1>

    <p>
        Where can I get some?
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
        or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, 
        you need to be sure there isn't anything embarrassing hidden in the middle of text. 
        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. 
        It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, 
        to generate Lorem Ipsum which looks reasonable. 
        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>

</section>

<section class="skills">

    <h1 class="skills-title">Mes compétences</h1>

    <mat-tab-group animationDuration="1100ms" dynamicHeight>
        <!-- images à placer dans chaque tab -->
        <mat-tab label="Conception">
            <div class="example-large-box mat-elevation-z4">
                <img mat-card-image src="../../../assets/looping.png" class="loop-logo" alt="loop logo">
            </div>
        </mat-tab>

        <mat-tab label="Front End">
            <div class="example-large-box mat-elevation-z4">
                <img mat-card-image src="../../../assets/angular.png" class="ng-logo" alt="ng logo">
            </div>
        </mat-tab>

        <mat-tab label="Back End">
            <div class="example-large-box mat-elevation-z4">
                <img mat-card-image src="../../../assets/java.png" class="ng-logo" alt="ng logo">
            </div>
        </mat-tab>

        <mat-tab label="Versionning">
            <div class="example-large-box mat-elevation-z4">
                <img mat-card-image src="../../../assets/gitlab.png" class="ng-logo" alt="ng logo">
            </div>
        </mat-tab>

    </mat-tab-group>
      
</section>

<section class="contact">

    <h1>Mon profil vous intéresse</h1>

    <form>
    
        <mat-form-field>
            <mat-label>Votre email</mat-label>
            <input matInput>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Objet du message</mat-label>
            <input matInput>
        </mat-form-field><br>
            
        <mat-form-field>
            <mat-label>Votre message ...</mat-label>
            <textarea matInput></textarea>
        </mat-form-field><br>
        
        <button mat-button>Soumettre</button>

    </form>

</section>


