<div class="main-block">

    <h1 class="welcome-title">Bienvenue ! :) </h1>

    <section class="presentation" id="pres-mark">
        <br><br><br>

        <h2>Présentation</h2>

        <div class="block-presentation">
            <img src="../../../assets/presentation.png" class="presentation-logo" alt="presentation-logo">
            <p class="text-presentation">
                Ayant commencé à travailler en 2006 dans la manutention jusqu'à 2020, je me suis tourné vers 
                le développement web grâce à l'avis d'un ami. J'ai donc fait mes petites recherches sur le métier 
                en découvrant les languages html et css dans des sites dédiés à la découverte du développement web
                c'est donc à partir de là que j'ai décidé de me lancer dans ce domaine pour en faire mon métier.
            </p>
        </div>
        
    </section>



    <section class="parcours" id="parcours-mark">
        <br><br><br>

        <h2>Mon parcours</h2>

        <div class="block-parcours">
        
            <div class="example-input-wrapper">
                <input id="duration" value="0500" type="number" min="0" step="100" #duration hidden>
            </div>
            
            <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration.value">

                <mat-step>

                    <ng-template matStepLabel><h4>Stage Concepteur Développeur Web</h4>
                    </ng-template>

                    <ng-template matStepContent>

                        <p class="title-step">Eurofad - Villeneuve-d'Ascq (59)</p>
                        <p class="duration-step">De septembre 2023 à novembre 2023</p>
                        <p>-Mise en place d'un model conceptuel des données (Looping) pour la refonte du site</p>
                        <p>-développement front : Angular, Node, Npm, Bootstrap, Html, Css</p>
                        <p>-développement back : Symfony, Composer, Doctrine, Postman, Postgresql
                        -outils de versionning : GitLab</p>
                    </ng-template>

                </mat-step>

                <mat-step>
                    <ng-template matStepLabel><h4>Developpeur full stack (formation CDA)</h4>
                    </ng-template>
                    <ng-template matStepContent>
                        <p class="title-step">AFPA - Roubaix (59)</p>
                        <p class="duration-step">De mars 2023 à août 2023</p>
                        <p>Conception et développement de plusieurs petits projets en Java JEE,
                            Angular/Spring/PostgreSQL/Hibernate en équipe sous méthode agile</p>
                    </ng-template>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel><h4>Projet personnel Full Stack</h4>
                    </ng-template>

                    <p class="title-step">Indépendant - Tourcoing (59)</p>
                    <p class="duration-step">D'octobre 2022 à novembre 2022</p>
                    <p>Création d'une application web de recettes de cuisine avec connexion d'user</p>
                        <p>• Frontend : React Js, Axios, Formik, Yup</p>
                        <p>• Backend : Node Js, Mongoose, Express, Mongo db</p>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel><h4>Développeur back end</h4>
                    </ng-template>
                    <p class="title-step">Tales & Keys - Lille (59)</p>
                    <p class="duration-step">Septembre 2022</p>
                    <p>-Conception de l'api sous environnement node avec mongodb, mongoose, express
                        -Tests unitaire avec postman
                    </p>
                    <p>-Developpement front avec react js, axios, formik, yup</p>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel><h4>Stage Concepteur Développeur web</h4>
                    </ng-template>
                    <p class="title-step">Insy2s - Lille</p>
                    <p class="duration-step">De juillet 2021 à septembre 2021</p>
                    <p>-1er projet : mise en place de d'une application web dédiée à la recherche de films reliée à une API
                        (react)
                    </p>

                    <p>-2ème projet en méthode agile(6 stagiaires + 1 scrum master) consistant à concevoir un forum avec
                        une base de données (node js/express/mongoDb) sur 2mois et demi
                    </p>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel><h4>Opérateur/Conducteur de ligne</h4>
                    </ng-template>
                    <p class="title-step">Agences intérim - Saint Etienne(59) / Lille(42)</p>
                    <p class="duration-step">De janvier 2006 à janvier 2020</p>
                    <p>-Diverses tâches en manutention, gestion d'une machine de production</p>
                </mat-step>

            </mat-vertical-stepper>

            <div class="img-parcours"><img src="../../../assets/parc.png" class="parcours-logo" alt="parc-logo"></div>

           
        </div>

    </section>



    <section class="skills" id="skills-mark">
        <br><br><br>

        <h2>Ma stack actuelle</h2>
        <div class="block-skills">

            <!-- <h2 class="title-skills">Mes compétences (logo)</h2> -->

            <div class="container-border">
                <mat-tab-group class="tab-skills" animationDuration="1100ms" dynamicHeight>
                    <!-- images à placer dans chaque tab -->
                    <mat-tab label="Conception">
                        <mat-divider class="line"></mat-divider>
                        <div class="example-large-box mat-elevation-z4">
                            <img mat-card-image src="../../../assets/looping.png" class="loo-logo" alt="loop logo">
                        </div>
                    </mat-tab>

                    <mat-tab label="Front End">
                        <mat-divider class="line"></mat-divider>
                        <div class="example-large-box mat-elevation-z4">
                            <img mat-card-image src="../../../assets/angular.png" class="ng-logo" alt="ng logo">
                        </div>
                    </mat-tab>

                    <mat-tab label="Back End">
                        <mat-divider class="line"></mat-divider>
                        <div class="example-large-box mat-elevation-z4">
                            <img mat-card-image src="../../../assets/java.png" class="java-logo" alt="ng logo">
                        </div>
                    </mat-tab>

                    <mat-tab label="Versionning">
                        <mat-divider class="line"></mat-divider>
                        <div class="example-large-box mat-elevation-z4">
                            <img mat-card-image src="../../../assets/gitlab.png" class="git-logo" alt="ng logo">
                        </div>
                    </mat-tab>


                </mat-tab-group>
                
            </div>

            <img src="../../../assets/skills.png" class="skills-logo" alt="skills-logo">

        </div>
        
    </section>

</div>


<section class="contact" id="contact-mark">
    <br><br><br>

    <h1>Mon profil vous intéresse ? <mat-icon>edit</mat-icon></h1>
    <p>(en cours de développement)</p>
    
    <div class="contact-block">
    
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    
            <mat-form-field>
                <mat-label>Votre email</mat-label>
                <input matInput formControlName="from_email" class="form-control" type="mail"  placeholder="Votre email ..." required>
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Objet du message</mat-label>
                <input matInput formControlName="subject" class="form-control" type="text"  placeholder="Votre sujet ..." required>
            </mat-form-field><br>
                
            <mat-form-field class="text">
                <mat-label>Votre message ...</mat-label>
                <textarea matInput formControlName="text_content" class="form-control" type="text" placeholder="Votre message ..." required></textarea>
            </mat-form-field><br>
            
            <button mat-button [disabled]="form.invalid" class="btn" type="submit">Envoyer</button>

        </form>

    </div>

</section>


