.text-presentation{
    font-size: larger;
}

.welcome-title{
    text-align: center;
    padding-top: 5%;
    margin-bottom: -10%;
}

.main-block{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
}

.presentation, .parcours{
    margin-top: 11.9%;
    margin-right: -8%;
}

.title-presentation, 
.text-presentation, 
.title-skills,
.title-parcours
{
    margin: 5%;
}

.title-parcours{
    margin-left: 73%;
}

.title-step{
    text-decoration: underline;
}

.text-presentation{
    margin: 5% 25% 0 10%;
}

.img-parcours{
    margin-top: 4%;
    margin-right: 5%;
}

.block-skills, .contact{
    text-align: center;
}

.skills{
    margin: 10% 0 15% 0;
}

.block-presentation ,.block-parcours, .block-skills{
    display: flex;
}

.block-presentation{
    margin: 0 0 0 15%;
}

.logo{
    margin: 15%;
}

.loo-logo, .ng-logo, .java-logo, .git-logo{
    margin: 5%;
}

.skills-logo{
    margin-left: 5%;
    margin-right: 5%;
}


.container-border{
    border-radius: 10px;
    border: 0.1px solid rgb(218, 218, 218);
    margin-left: 5%;
}


.contact-block{
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 5px;
    background-color: rgb(219, 217, 217);
}

.btn{
    border: 1px solid rgb(180, 180, 180);
}

@media (max-width: 412px) {

    h2{
        text-align: center;
    }

    img{
        width: fit-content;
        height: fit-content;
    }

    .welcome-title{
        margin-left: 5%;
    }


    .block-presentation{
        margin-right: 17%;
    }

    .text-presentation{
        margin: 10% 0;
        text-align: center;
    }

    .presentation-logo, .parcours-logo, .skills-logo, .ng-logo, .java-logo, .git-logo{
        width: 90%;
        height: 90%;
        box-shadow: none;
        text-shadow: none;
    }

    .block-presentation ,.block-parcours, .block-skills{
        display: block;
    }



    .contact-block{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        padding: 5%;
        border-radius: 5px;
        background-color: rgb(219, 217, 217);
    }
}