mat-toolbar, .menu-icon{
    position: fixed;
    top: 0;
    z-index: 1000;
}

mat-form-field{
    visibility: hidden;
}



a{
    text-decoration: none;
    background-color: transparent;
}

a:link {
    color: rgb(165, 150, 150);   
}
  
a:visited {
    color: rgb(175, 169, 169);
}

a:hover {
    color: red;
}

a:active {
    color: rgb(255, 187, 0);
}

.title-nav{
    font-size: larger;
}

.block-nav{
    margin-left: 57.5%;
}

.links-nav{
    margin: 0 3%;
}

.menu-icon{
    visibility: hidden;
}

@media (max-width: 1550px) {
    .block-nav{
        margin-left: 46.5%;
    }
}

@media (max-width: 1440px) {
    mat-toolbar, .block-nav{
        visibility: hidden;

    }

    .menu-icon{
        visibility: visible;
        z-index: 0;
        margin-top: 4%;
        margin-left: 82%;
        border: 1px solid rgb(170, 169, 169);
        border-radius: 30px;
        height: 60px;
        padding: 0.1px 0 0 3.5px;
        box-shadow: 0.1px 0.1px 10px 0.1px rgb(201, 201, 201);
        transition-duration: 0.4s;
        &:hover{
            box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
        }

    }
}
