<header>
    
    <mat-toolbar color="primary">

        <span class="title-nav">Tommy's portfolio</span>

        <div class="block-nav">
            <span class="links-nav"><a href="#pres-mark">Présentation</a></span>
            <span class="links-nav"><a href="#parcours-mark">Mon parcours</a></span>
            <span class="links-nav"><a href="#skills-mark">Mes compétences</a></span>
            <span class="links-nav"><a href="#contact-mark">Contact</a></span>
        </div>
        
    </mat-toolbar>

    <button mat-button [matMenuTriggerFor]="menu" class="menu-icon">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item><a href="#pres-mark">Présentation</a></button>
        <button mat-menu-item><a href="#parcours-mark">Mon parcours</a></button>
        <button mat-menu-item><a href="#skills-mark">Mes compétences</a></button>
        <button mat-menu-item><a href="#contact-mark">Contact</a></button>
    </mat-menu>

</header>
