.span-1{
    display: flex;
    justify-content: end;
}

#date{
    margin-top: -0.4%;
}

.github-link-footer, .gitlab-link-footer{
    margin-right: 3%;
}

.github-link-footer{
    margin-top: 0.5%;
}

@media (max-width: 1440px) {


    .github-link-footer{
        margin-top: -1.5%;
    }

    .gitlab-link-footer{
        margin-top: -4.4%;
        margin-left: 15%;
        margin-right: -15%;
    }

    #date{
        margin-top: 6%;
    }

}