<footer>
    <mat-toolbar color="primary">
        
        <mat-toolbar-row class="span-1">

            <span class="github-link-footer"><a href="https://github.com/TommyV86"><img src="../../../assets/github-logo-.png" alt="git hub"></a></span>
            <span class="gitlab-link-footer"><a href="https://gitlab.com/TommyV86"><img src="../../../assets/gitlab-logo-.png" alt="git lab"></a></span>
            
            <span id="date">février 2024</span>
            
        </mat-toolbar-row>

    </mat-toolbar>
</footer>